body{
	background-color: #f2f2f2;
}

.one{
	margin-top: -10pt;
	font-size: 15pt;
	font-family: 'Karla', sans-serif;
	color: #e60000;
	margin-left: 20pt;
	
}
.first{
	font-size: 10pt;
	margin-left: 20pt;
	margin-top: 10pt;
	font-family: 'Karla', sans-serif;
}
.two{
	font-size: 13pt;
	
}
.four{
	width:600pt;
	
}
