#container {
	width:800px;
	height:1800px;  

}

#black{
	width: 800px;
	height: 150px;
	

}
#red{
	width:800px;
	height: 150px;
	background-color: red;
}

#middle{
	float: left;
	width: 800px;
	height: 560px;
	margin-top: 150px;


}
#pink{
	width: 610px;
	height: 500px;
	margin-right: 10px;
	background-color: red;
	float: left;
}
#orange{
	float: left;
	width: 180px;
	height: 250px;
	background-color: red;
}
#blue{
	float: left;
	width: 610px;
	height: 50px;
	background-color: red;
	margin-top: 10px;

}