body {
	background-color: pink;

}
p{
	font-family: garamond;
	font-size: 15px;
}
#next { 
	float: right;
	border: 5px solid pink;
	position: fixed;
	margin-left: 1013px;
	margin-top: 153px;
	border-radius: 16px;
	background-color: white;
	width: 220px;
	height: 350px;
}

p.one {
	padding-top: 15px;
	text-align: center;
	font-size: 15px ;
	letter-spacing: 2.5px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;

}

ul{
	margin-top: 25px;
	line-height: 30px;
	padding-left: 45px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
}

p.diary {
	margin-left: 200px;
	margin-top: 40px;
	width: 1000px;
	font-size: 70px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	letter-spacing: 2px;

}

#container {
	border: 5px solid white;
	background-color: white;
	padding:30px;
	width: 755px;
	border-radius: 10px;
	margin-left: 185px;

}

#interview {
	width: 900px;	
	margin-top: 20px;
}

p.two {
	color: red;
	text-align: left;
	font-size: 15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 3.5px;
	padding-left: 2.5px;
	letter-spacing: 3px;
}

#three {
	margin-top: 60px;
	height: 55px;
	width:900px;
	line-height: 1.25px;
	
	
}
p.headline {
	text-align: left;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 35px;
	
}

p.dotcom{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;

}
img{
	border-radius: 5px;
}

#paragraph{
	width: 750px;
	height:5855px;
	text-align: left;
	margin-top: 40px;
	
}
h2{
	margin-top: 20px;

}
#paragraph2{
	width: 750px;
	height:2440px;
	text-align: left;
	margin-top: 40px;
	
}
p.big{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 20px; 
}
p.italic{ 
	line-height: 20px;
}


p.second{
	padding-top: 300px;
	text-align: left;
	font-family: 'Lobster', cursive;
	font-size: 70px;

}
#paragraph3{
	width: 750px;
	height:1605px;
	text-align: left;
	margin-top: 40px;
	font-family: garamond;
}


