 body{
  background-color: #f2f2f2;
  font-family: 'Karla', sans-serif;

 }
.container{
  
  width:1000px;
  height: 600px;
  margin-top: 200px;
  margin-left: 300px;

  z-index: 3;
}

#who{
  width:320px;
  margin-left:300px;
  margin-top:100px;
}

.who{
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:63px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  text-shadow: rgb(0,0,0) 0 0 0;
  animation-name:bounce_who;
    -o-animation-name:bounce_who;
    -ms-animation-name:bounce_who;
    -webkit-animation-name:bounce_who;
    -moz-animation-name:bounce_who;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#inTurnBlurringTextG_1{
  animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}
#inTurnBlurringTextG_2{
  animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}
#inTurnBlurringTextG_3{
  animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}
#inTurnBlurringTextG_4{
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}
#inTurnBlurringTextG_5{
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}
#inTurnBlurringTextG_6{
  animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}
#inTurnBlurringTextG_7{
  animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}
#inTurnBlurringTextG_8{
  animation-delay:1.7s;
    -o-animation-delay:1.7s;
    -ms-animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
    -moz-animation-delay:1.7s;
}
#inTurnBlurringTextG_9{
  animation-delay:1.82s;
    -o-animation-delay:1.82s;
    -ms-animation-delay:1.82s;
    -webkit-animation-delay:1.82s;
    -moz-animation-delay:1.82s;
}
#inTurnBlurringTextG_10{
  animation-delay:1.92s;
    -o-animation-delay:1.92s;
    -ms-animation-delay:1.92s;
    -webkit-animation-delay:1.92s;
    -moz-animation-delay:1.92s;
}
#inTurnBlurringTextG_11{
  animation-delay:2.2s;
    -o-animation-delay:2.2s;
    -ms-animation-delay:2.2s;
    -webkit-animation-delay:2.2s;
    -moz-animation-delay:2.2s;
}
#inTurnBlurringTextG_12{
  animation-delay:2.12s;
    -o-animation-delay:2.12s;
    -ms-animation-delay:2.12s;
    -webkit-animation-delay:2.12s;
    -moz-animation-delay:2.12s;
}
#inTurnBlurringTextG_13{
  animation-delay:2.25s;
    -o-animation-delay:2.25s;
    -ms-animation-delay:2.25s;
    -webkit-animation-delay:2.25s;
    -moz-animation-delay:2.25s;
}
#inTurnBlurringTextG_14{
  animation-delay:2.37s;
    -o-animation-delay:2.37s;
    -ms-animation-delay:2.37s;
    -webkit-animation-delay:2.37s;
    -moz-animation-delay:2.37s;
}
#inTurnBlurringTextG_15{
  animation-delay:2.45s;
    -o-animation-delay:2.45s;
    -ms-animation-delay:2.45s;
    -webkit-animation-delay:2.45s;
    -moz-animation-delay:2.45s;
}
#inTurnBlurringTextG_16{
  animation-delay:2.57s;
    -o-animation-delay:2.57s;
    -ms-animation-delay:2.57s;
    -webkit-animation-delay:2.57s;
    -moz-animation-delay:2.57s;
}
#inTurnBlurringTextG_17{
  animation-delay:2.64s;
    -o-animation-delay:2.64s;
    -ms-animation-delay:2.64s;
    -webkit-animation-delay:2.64s;
    -moz-animation-delay:2.64s;
}
#inTurnBlurringTextG_18{
  animation-delay:2.75s;
    -o-animation-delay:2.75s;
    -ms-animation-delay:2.75s;
    -webkit-animation-delay:2.75s;
    -moz-animation-delay:2.75s;
}




@keyframes bounce_who{
  0%{
    text-shadow: rgb(0,0,0) 0 0 0;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}

@-o-keyframes bounce_who{
  0%{
    text-shadow: rgb(0,0,0) 0 0 0;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}

@-ms-keyframes bounce_who{
  0%{
    text-shadow: rgb(0,0,0) 0 0 0;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}

@-webkit-keyframes bounce_who{
  0%{
    text-shadow: rgb(0,0,0) 0 0 0;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}

@-moz-keyframes bounce_who{
  0%{
    text-shadow: rgb(0,0,0) 0 0 0;
  }

  100%{
    text-shadow: rgb(255,255,255) 0 0 50px;
  }
}
#has{
 
  width:320px;
  height: 80px;
  margin-left: 450px;
  
}

.has{
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:63px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  text-shadow: rgb(0,0,0) 0 0 0;
  animation-name:bounce_who;
    -o-animation-name:bounce_who;
    -ms-animation-name:bounce_who;
    -webkit-animation-name:bounce_who;
    -moz-animation-name:bounce_who;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}
#seen{
 
  width:200px;
  height: 80px;
  margin-left: 500px;
}

.seen{
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:63px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  text-shadow: rgb(0,0,0) 0 0 0;
  animation-name:bounce_who;
    -o-animation-name:bounce_who;
    -ms-animation-name:bounce_who;
    -webkit-animation-name:bounce_who;
    -moz-animation-name:bounce_who;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}
#the{
  width:100px;

  margin-left: 600px;

}

.the{
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:63px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  text-shadow: rgb(0,0,0) 0 0 0;
  animation-name:bounce_who;
    -o-animation-name:bounce_who;
    -ms-animation-name:bounce_who;
    -webkit-animation-name:bounce_who;
    -moz-animation-name:bounce_who;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}
#wind{
  width:300px;
  margin-left: 715px;
  
  position: absolute;
  
}

.wind{
  color:transparent;
  font-family: 'Karla', sans-serif;
  font-size:63px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  text-shadow: rgb(0,0,0) 0 0 0;
  animation-name:bounce_who;
    -o-animation-name:bounce_who;
    -ms-animation-name:bounce_who;
    -webkit-animation-name:bounce_who;
    -moz-animation-name:bounce_who;
  animation-duration:2.09s;
    -o-animation-duration:2.09s;
    -ms-animation-duration:2.09s;
    -webkit-animation-duration:2.09s;
    -moz-animation-duration:2.09s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}
.together{
 
  width: 1400px;
  height: 600px;
  margin-top: 300px;
  position: relative;
  color: black;
  font-size: 100px;
  font-family: 'Karla', sans-serif;
  
  
}


 
.container2{

  width: 800px;
 
  margin-top: 200px;
  margin-left: 100px;
  font-family: 'Karla', sans-serif;
  font-size:53px;
  text-align:left;
}
.neither{

  font-size:53px;
  text-align:left;
}
.i{

  display: inline;
  text-align: left;
  text-indent: 8px;
}
.i span{
  animation: leftToRight 11s linear infinite 0s;
  -ms-animation: leftToRight 11s linear infinite 0s;
  -webkit-animation: leftToRight 11s linear infinite 0s;
  color: grey;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.i span:nth-child(2){
  animation-delay: 3s;
  -ms-animation-delay: 3s;
  -webkit-animation-delay: 3s;
}
.i span:nth-child(3){
  animation-delay: 5.5s;
  -ms-animation-delay: 5.5s;
  -webkit-animation-delay: 5.5s;
}
.i span:nth-child(4){
  animation-delay: 8s;
  -ms-animation-delay: 8s;
  -webkit-animation-delay: 8s;
}



@-moz-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateX(-50px); }
  10% { opacity: 1; -moz-transform: translateX(0px); }
  25% { opacity: 1; -moz-transform: translateX(0px); }
  30% { opacity: 0; -moz-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateX(-50px); }
  10% { opacity: 1; -webkit-transform: translateX(0px); }
  25% { opacity: 1; -webkit-transform: translateX(0px); }
  30% { opacity: 0; -webkit-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateX(-50px); }
  10% { opacity: 1; -ms-transform: translateX(0px); }
  25% { opacity: 1; -ms-transform: translateX(0px); }
  30% { opacity: 0; -ms-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
.container3{
  width: 300px;
 height: 500px;
  margin-top: 600px;
  margin-left: 1050px;
  font-family: 'Karla', sans-serif;
  font-size:53px;
  text-align:left;
}
.nor{

  font-size:53px;
  text-align:left;
  display: inline;
  text-indent: 30px;
}

.container4{
  width: 1000px;
  height: 700px;
 
  margin-top: 300px;
  margin-left: 350px;
  font-size:53px;
  text-align:left;
}
.container7{
  width: 800px;
  height: 300px;
  margin-top: -690px;
  margin-left: 340px;

  text-align: left;
}


.trembling2{
  text-align:left;
  -webkit-animation-name: trembling2 rotate; 
  animation-name: trembling2; 

}
#animated2{
  text-align: left;
  font-size: 30pt;
  margin-left:660px;
  margin-top: -103px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  animation-iteration-count:infinite;
}
@-webkit-keyframes trembling2 { 
  0% {-webkit-transform: scale(1) ;}
  10%, {-webkit-transform: scale(0.9) rotate(140deg);} 
  20%, {-webkit-transform: scale(1.1) rotate(0deg);}
  30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(0deg);}
  40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-20deg);} 
  100% {-webkit-transform: scale(1) rotate(0);} 
}
         
@keyframes trembling2 { 
  0% {transform: scale(1) ;} 
  10%,  {transform: scale(0.9) rotate(140deg);} 
  20%, {-webkit-transform: scale(1.1) rotate(0deg);}
  30%, 50%, 70%, 90% {transform: scale(1.1) rotate(0deg);} 
  40%, 60%, 80% {transform: scale(1.1) rotate(-20deg);} 
  100% {transform: scale(1) rotate(0);}
}




.first{
color: white;
 height: 60px;  
 overflow: hidden;
 position: relative;
}
.first p {
  font-size: 60px;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: first 15s linear infinite;
 -webkit-animation: first 15s linear infinite;
 animation: first 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes first {
 0%   { -moz-transform: translateX(100%); }
 20%  { -moz-transform: translateX(50%);}
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes first {
 0%   { -webkit-transform: translateX(100%); }
 20%  { -webkit-transform: translateX(50%);}
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes first {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}





html, .getout {
  height: 100%;
}

.getout {


  min-height: 100%;
  margin-left: 100px;
  margin-top: 300px;
  width: 1000px;
  height: 1000px;
 
  text-shadow: none;

}

.wind2 {
  padding-top: 500px;
  max-width: 960px;
  margin: 10px; auto;
  position: relative;
  text-align: center;
}

.letter{
  
 
  display: inline-block;
  font-size: 60px;
  text-align: left;
  
  position: relative;


}

.space {
  width: 100px;
}


.letter:nth-child(1) {
-webkit-animation: anim1 5s infinite;
        animation: anim1 5s infinite;
-webkit-animation-delay: -0.2s infinite;
        animation-delay: -0.2s infinite;

color:black;
width: 137px;


}


.letter:nth-child(2) {
  -webkit-animation: anim2 5s infinite;
          animation: anim2 5s infinite;
  -webkit-animation-delay: -0.4s infinite;
          animation-delay: -0.4s infinite;
  color: black;
  width: 114px;
}


.letter:nth-child(3) {
  -webkit-animation: anim3 5s infinite;
          animation: anim3 5s infinite;
  -webkit-animation-delay: -0.6s infinite;
          animation-delay: -0.6s infinite;
  color: black;
  width: 138px;
}

@-webkit-keyframes anim4 {
  0% {
    -webkit-transform: translate3d(-172px, -823px, -1000px) rotate(0deg);
            transform: translate3d(-172px, -8123px, -1000px) rotate(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
            transform: translate3d(0, 0, 0) rotate(360deg);
    opacity: .9;
  }
}

@keyframes anim4 {
  0% {
    -webkit-transform: translate3d(-172px, -823px, -1000px) rotate(0deg);
            transform: translate3d(-172px, -823px, -1000px) rotate(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
            transform: translate3d(0, 0, 0) rotate(360deg);
    opacity: 0.9;
  }
}
.letter:nth-child(4) {
  -webkit-animation: anim4 5s infinite;
          animation: anim4 5s infinite;
  -webkit-animation-delay: -0.8s infinite;
          animation-delay: -0.8s infinite;
  color: black;
  width: 105px;
}

@-webkit-keyframes anim5 {
  0% {
    -webkit-transform: translate3d(257px, -789px, -1000px) rotate(0deg);
            transform: translate3d(257px, -789px, -1000px) rotate(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-360deg);
            transform: translate3d(0, 0, 0) rotate(-360deg);
    opacity: .9;
  }
}

@keyframes anim5 {
  0% {
    -webkit-transform: translate3d(257px, -789px, -1000px) rotate(0deg);
            transform: translate3d(257px, -789px, -1000px) rotate(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-360deg);
            transform: translate3d(0, 0, 0) rotate(-360deg);
    opacity: .9;
  }
}
.letter:nth-child(5) {
  -webkit-animation: anim5 5s infinite;
          animation: anim5 5s infinite;
  -webkit-animation-delay: -1s infinite;
          animation-delay: -1s infinite;
  color: black;
}
.pleaselast{
  width: 400px;
  height:100px;
 
 margin-left: 20px;
 margin-top: 500px;
 font-family: 'Karla', sans-serif;
  
  font-size: 40px;
}
.vertical-text {
 
  transform-origin: left top 0;
  transform: rotate(-90deg);
  font-size: 40px;
  float: left;
}
.pleaselast1{
  font-family: 'Karla', sans-serif;
  width: 500px;
  height:300px;
  
transform: rotate(-90deg);
  margin-top: -855px;
  margin-left: -80px;
 
  font-size: 40px;
  float: left;
}
.rotateOutDownLeft {
  width:500px;
  height: auto;
  
 
  -webkit-animation-name: rotateOutDownLeft;
  animation-name: rotateOutDownLeft;
         }

#animated {
   
  animation-iteration-count:infinite;
  -webkit-animation-duration: 10s; 
  animation-duration: 10s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
         }
         
@-webkit-keyframes rotateOutDownLeft {
   0% {
   -webkit-transform-origin: left bottom; 
   -webkit-transform: rotate(0); 
               
 }
  100% { 
   -webkit-transform-origin: left bottom; 
    -webkit-transform: rotate(90deg);
               
  }
 }
@keyframes rotateOutDownLeft {
            0% {
               transform-origin: left bottom;
               transform: rotate(0); 
               
            }
     100% {
  transform-origin: left bottom;
  transform: rotate(90deg);
               
   }
 }
        

.min {
  height: 300px;
  margin-left: 720px;
  
  font-size: 62px;

  color: #000;
  max-width: 1300px;
  background: -webkit-linear-gradient(left, #f2f2f2 0%, #000000 25%, #f2f2f2 50%, #f2f2f2 100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% {
  background-position: -8000px -3000px;
    
  }
  100% {
   background-position: 0 0;
  }
}
