body {
	font-family: arial;
	background: #2d2de8;
	background: linear-gradient(to right, #2d2de8 25%, #f26739 60%,#f9aafa);
	

}
p{
	text-shadow: 30px 20px 10 px #2d2de8;
	word-spacing: 2em;
	text-align: justify;
	color: white;
	opacity: .3
}
#container{
	width: 1400px;
	height:500px;
	background-color: white;
	z-index: 3;
]

#copy{
	width:2000px; 
	height:80px;
	z-index: 0;
}